$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(255, 0, 0);

$color-main-component: rgba(54, 44, 44, 0.388);
$color-boxShadow-main-Component: rgba(3, 3, 3, 0.632);
$color-black-shadow: rgba(0, 0, 0, 0.75);

$color-next-profile-button: rgb(53, 102, 14);
$color-next-profile-button-hover: rgb(38, 73, 10);
$color-register-button: rgb(64, 72, 58);
$color-register-button-hover: rgb(38, 73, 10);
$color-save-button: rgb(7, 21, 148);
$color-save-button-hover: rgb(7, 17, 103);

$color-decoration: rgb(7, 21, 148);



