@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;800&family=Lato:ital@0;1&display=swap');
@import './../../styles/settings.scss';
.container {
  margin: 0 auto;
  width: 1130px;
  height: 1200px;
  position: relative;
  background-color: $color-white;

  .nameSurname{
    width: 580px;
    height: 77px;
    position: absolute;
    top: 11px;
    left: 21px;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: 30px;
    line-height: 30px;
  }

  .mainComponent{
    width: 800px;
    height: 739.83px;
    background: $color-main-component;
    border-radius: 500px 60px 300px 100px;
    position: relative;
    top: 188px;
    left: 151px;
    box-shadow: 14px 5px 3px -1px $color-boxShadow-main-Component;


    .image{
      position: absolute;
      left: 18%;
      right: 15.25%;
      top: 16.98%;
      bottom: 36.56%;

      background: url('https://picsum.photos/534/383');
      border-radius: 200px 20px 100px 50px;
    };

    .additionalButtons{
      .addToFavorite{
        width: 57.39px;
        height: 53.15px;

        position: absolute;
        top: 549.39px;
        left:558.13px;
        img{
          width: 52.61px;
          height: 35.43px;

          position: absolute;
          top: 9.04px;
          left: 0px;
          transition: 0.3s;

          &:hover{
            cursor: pointer;
            scale: 1.1;
          };
        };
      };
      .checkButton{
        width: 56.81px;
        height: 53.15px;

        position: absolute;
        top: 549.39px;
        left: 615.52px;
        img{
          width: 47.34px;
          height: 44.29px;

          position: absolute;
          top: 4.25px;
          left: 9.66px;
          transition: 0.3s;

          &:hover{
            cursor: pointer;
            scale: 1.1;
          };
        };
      };
    };

    .nameContainer{
      width: 333.82px;
      height: 76.26px;
      position: absolute;
      top: 549.39px;
      left:226.65px;
      span{
      display: block;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 61px;
      text-align: center;
      };

    };

    .ageEyeColorContainer{
      width: 368.37px;
      height: 59.5px;

      position: absolute;
      top: 610.63px;
      left: 226.65px;

      h3{
      font-family: 'Inter', sans-serif;
      font-style: italic;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      };


    };

    .buttonNextProfile{
      border:none;
      width: 224.3px;
      height: 54.88px;
      position: absolute;
      top:769.5px;
      left:281.7px;

      background: $color-next-profile-button;
      box-shadow: 10px 4px 4px $color-black-shadow;
      border-radius: 20px;
      transition: 0.3s;

      &:hover{
        cursor: pointer;
        background: $color-next-profile-button-hover;
      };

      span{
        position: absolute;
        left: 31.3px;
        top: 10.5px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: $color-white;
        text-shadow: 0px 4px 4px $color-black-shadow;
      };
    };
  };
  .buttonRegister{
    width: 236px;
    height: 90px;
    position: absolute;
    top: 11px;
    left: 868px;
    background-color: $color-register-button;
    border-radius: 20px;
    box-shadow: 10px 4px 4px $color-black-shadow;
    border: none;
    transition: 0.3s;

    span{
      width: 195.61px;
      height: 34.66px;
      display: block;
      position: absolute;
      top: 10.5px;
      left: 43.3px;
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 30px;
      line-height: 30px;
      color: $color-white;
      border: none;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    };

    &:hover{
      cursor: pointer;
      background: $color-register-button-hover;
    };
  };

};

@media(max-width:1140px){

  .container{
    width: 550px;

    .nameSurname{
      width: 500px;
    };

    .mainComponent{
      width: 400px;
      left: 50%;
      transform: translateX(-50%);

      .image {
        width: 360px;
        left: 5%;
      };

      .nameContainer {
        top: 530px;
        left: 0;
      };

      .ageEyeColorContainer {
        left: 40px;
      };

      .additionalButtons{
        .addToFavorite{
          display: block;
          top: 400px;
          left: 55px;

          img {
            width: 120px;
            height: 80px;
          };
        };

        .checkButton {
          top: 410px;
          left: 230px;

          img {
            width: 120px;
            height: 80px;
          };
        };
      };

      .buttonNextProfile {
        left: 50%;
        transform: translateX(-50%);
      };
    };
    .buttonRegister{
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    };
  };
};